{{ define "main" }} 
        {{ partial "nav.html" . }}

    <!-- detail -->
    <div class="container">
      <div class="row pt-5 mt-5 mb-5">
        <!-- <div class="col-md-8 mt-3"> -->
        <div class="col-12 col-md-8  mt-3">
          <div class="card card-postgrid">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <!-- <img src="{{ .Site.Author.image }}" alt="" width="40px" /> -->
                <img src="/img/akun.png" alt="" width="40px" />
                <span class="d-block ml-2">{{ .Site.Author.name }} | <time>{{ .Date.Format "02-01-2006" }}</time></span>
              </div>
              <div class="detail-judul py-2">
                <h2 class="mt-2">{{ .Title }}</h2>
              </div>
              <hr />
              <!-- row -->
              <div class="row ">
              <div class="col-12 col-md-6 mt-3 pt-3 pt-sm-0 align-self-center ">
                  {{if .Params.gambar}}
                    <img src="{{.Params.gambar}}" alt="" width="100%" >
                  {{end}}
              </div>
              <div class="col-12 col-md-6 align-self-center  text-sm-left mt-5 align-self-center ">
                  <h2>{{ .Title }}</h2>
                  <div class="mt-3">
                      <img src="/img/testi/testi.png" alt="" class="rounded-circle float-left mr-3 img-detail" width="50px" >
                      <div class="float-left">
                          <span class="d-block"><b>Mentor</b></span>
                          {{if .Params.mentor}}
                            <span>{{.Params.mentor}}</span>
                          {{end}}
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  
                  <div class="mt-3">
                      <img src="/img/detail/1.png" alt="" class="rounded-circle float-left mr-3 img-detail" width="50px" >
                      <div class="float-left">
                          <span class="d-block"><b>Pendaftaran</b></span>
                          <span>{{.Params.pendaftaran}}</span>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="mt-3">
                      <img src="/img/detail/3.png" alt="" class="rounded-circle float-left mr-3 img-detail" width="50px" >
                      <div class="float-left">
                          <span class="d-block"><b>Pelaksanaan</b></span>
                          <span>Mulai tanggal {{.Params.pelaksanaan}}</span>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="mt-3">
                      <img src="/img/detail/2.png" alt="" class="rounded-circle float-left mr-3 img-detail" width="50px" >
                      <div class="float-left">
                          <span class="d-block"><b>Biaya</b></span>
                          {{if .Params.biaya}}
                          <span class="h4"><b>Rp.{{.Params.biaya}} /</b></span> {{.Params.berapapertemuan}} pertemuan
                        {{end}}
                      </div>
                      <div class="clearfix"></div>
                  </div>

                  {{if .Params.linkdaftar}}
                    <a href="{{.Params.linkdaftar}}" target="_blank" class="btn btn-primary mt-3 text-center w-100  ">Daftar Kelas</a>
                  {{end}}
              </div>
          </div>
              <!-- akhir row -->
              <hr>
              <h3>Deskripsi</h3>
              <div class="imgtengah">
                {{ .Content }}
              </div>

              <br />
               <div>
                    {{ range .Params.tags }}
                    <span class="badge badge-success">
                            #<a class="text-white" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                    </span> 
                    {{ end }}
                </div>
              <hr />

              <!-- diskus -->
              {{ partial "disqus.html" . }}
              <!-- Akhir diskus -->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-3 ">
          {{ partial "aside.html" . }}
          
        </div> 
      </div>
    </div>
    <!-- Akhir detail -->
   

     
{{end}} 